.cmmap-drags,.cmmap-e,.cmmap-layers {
    width: 100%;
    height: 100%
}

.cmmap-drags,.cmmap-e ,.cmmap-layers{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden
}
.amap-custom {
    top: 0;
    left: 0;
    position: absolute
}
.cmmap-layers {
    z-index: 0
}
.cmmap-overlays, .cmmap-markers, .cmmap-marker{
    position: absolute;
    left: 0;
    top: 0;
}
.cmmap-markers{
    z-index: 120;
}
.cmmap-overlays{
    z-index: 110;
    cursor: default;
}
.cmmap-icon{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.cmmap-icon img{
    position: absolute;
    z-index: -1;
}
.cmmap-marker-content{
    position: relative;
}
.cmmap-overlay-text-container{
    display: block;
    width: auto;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.cmmap-marker-label{
    position: absolute;
    z-index: 2;
    border: 1px solid blue;
    background-color: white;
    white-space: nowrap;
    cursor: default;
    padding: 3px;
    font-size: 12px;
}
.cmmap-controls{
    z-index:10;

}

.cmmap-controlbar{
    position:absolute;
    width: auto;
    height: auto;
}
.cmmap-controlbar {
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
}
.cmmap-luopan{
    width: 184px;

}
.cmmap-luopan, .cmmap-luopan-bg {
    height: 184px;
    background: url(http://61.189.20.113:8000/images/ctb.png) -44px -60px no-repeat;
}
.cmmap-luopan-bg-active {
    background: url(http://61.189.20.113:8000/images/ctb.png) -254px -60px no-repeat
}
.cmmap-compass {
    top: 92px;
    left: 50%;
    position: absolute;
    margin: -48px;
    width: 96px;
    height: 96px;
    z-index: 0;
    background: url(http://61.189.20.113:8000/images/ctb.png) -462px -52px no-repeat;
}
.cmmap-pointers {
    position: absolute;
    width: 60px;
    height: 96px;
    top: 0;
    left: 18px;
    border: none;
    z-index: 2;
    background: url(http://61.189.20.113:8000/images/ctb.png) -562px -52px no-repeat;
}
.cmmap-pitchDown, .cmmap-pitchUp {
    width: 60px;
    height: 45px;
    position: absolute;
    margin-left: -30px;
    left: 50%;
    z-index: 1;
    background: url(http://61.189.20.113:8000/images/ctb.png) -605px -98px no-repeat;
}
.cmmap-pitchUp {
    top: 7px;
}
.cmmap-pitchDown {
    top: 132px;
    transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
}
.cmmap-pitch-active {
    background: url(http://61.189.20.113:8000/images/ctb.png) -605px -47px no-repeat
}
.cmmap-controlbar-disable {
    opacity: .4;
}
.cmmap-rotateLeft, .cmmap-rotateRight {
    width: 42px;
    height: 104px;
    top: 38px;
    position: absolute;
    z-index: 2;
    background: url(http://61.189.20.113:8000/images/ctb.png) -603px -154px no-repeat;
}
.cmmap-rotateLeft {
    left: 10px;
}
.cmmap-rotateRight {
    right: 10px;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.cmmap-rotate-active {
    background: url(http://61.189.20.113:8000/images/ctb.png) -557px -153px no-repeat
}
.cmmap-controlbar-zoom{
    width: 70px;
    height: 184px;
    margin: 20px 0 0 56px;
    background: url(http://61.189.20.113:8000/images/ctb.png) -154px -292px no-repeat;
}

.cmmap-controlbar-zoom-add, .cmmap-controlbar-zoom-sub {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
}
.cmmap-controlbar-zoom-add {
    margin-top: 15px;
    background: url(http://61.189.20.113:8000/images/ctb.png) -236px -269px no-repeat;
}

.cmmap-controlbar-zoom-add-active {
    background: url(http://61.189.20.113:8000/images/ctb.png) -236px -375px no-repeat
}

.cmmap-controlbar-zoom-sub {
    margin-top: 105px;
    background: url(http://61.189.20.113:8000/images/ctb.png) -237px -327px no-repeat
}

.cmmap-controlbar-zoom-sub-active {
    background: url(http://61.189.20.113:8000/images/ctb.png) -236px -439px no-repeat
}


.cmmap-scalecontrol {
    position: absolute;
    z-index: 150;
}

.cmmap-scale-text {
    text-align: center;
    font-size: 10px;
}

.cmmap-scale-line {
    position: relative;
    height: 8px;
}

.cmmap-scale-line div {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}

.cmmap-scale-edgeleft,.cmmap-scale-middle,.cmmap-scale-edgeright {
    position: absolute;
    background-color: #333;
    overflow: hidden;
}

.cmmap-scale-edgeleft,.cmmap-scale-edgeright {
    width: 1px;
    _width: 3px;
    height: 6px;
    _height: 8px;
    border: solid 1px #fff;
}

.cmmap-scale-middle {
    height: 2px;
    _height: 4px;
    left: 2px;
    top: 2px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

.cmmap-logo{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 160;
    height: 24px;
    line-height: 24px;
    margin: 0 1px;
}
.cmmap-copyright{
    position: absolute;
    display: block !important;
    left: 113px;
    height: 24px;
    bottom: 0;
    font-size: 11px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    z-index: 160;
}



.cmmap-toolbar {
    z-index: 150;
}

.cmmap-toolbar {
    position: absolute;
    width: 52px;
    overflow: visible;
}

.cmmap-pancontrol {
    width: 52px;
    height: 52px;
    background: url(http://61.189.20.113:8000/images/map_view.png) 0 -140px;
    position: absolute;
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
}

.cmmap-pan-left,.cmmap-pan-top,.cmmap-pan-right,.cmmap-pan-bottom {
    position: absolute;
    cursor: pointer;
}

.cmmap-pan-left,.cmmap-pan-right {
    width: 12px;
    height: 18px;
    top: 17px;
}

.cmmap-pan-top,.cmmap-pan-bottom {
    width: 18px;
    height: 12px;
    left: 17px;
}

.cmmap-pan-left {
    left: 8px;
}

.cmmap-pan-right {
    left: 32px;
}

.cmmap-pan-top {
    top: 8px;
}

.cmmap-pan-bottom {
    top: 31px;
}

.cmmap-pan-left:hover,.cmmap-pan-top:hover,.cmmap-pan-right:hover,.cmmap-pan-bottom:hover {
    background: url(http://61.189.20.113:8000/images/map_view.png);
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
}

.cmmap-pan-left:hover {
    background-position: -52px -110px;
}

.cmmap-pan-top:hover {
    background-position: -70px -112px;
}

.cmmap-pan-right:hover {
    background-position: -61px -110px;
}

.cmmap-pan-bottom:hover {
    background-position: -84px -110px;
}

.cmmap-pan-left-hover {
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
    background-position: -52px -110px;
}

.cmmap-pan-top-hover {
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
    background-position: -70px -112px;
}

.cmmap-pan-right-hover {
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
    background-position: -61px -110px;
}

.cmmap-pan-bottom-hover {
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
    background-position: -84px -110px;
}

.cmmap-zoomcontrol {
    width: 24px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cmmap-zoom-plus,.cmmap-zoom-minus,.cmmap-zoom-cursor,.cmmap-zoom-label-street,.cmmap-zoom-label-city,.cmmap-zoom-label-province,.cmmap-zoom-label-country {
    background: url(http://61.189.20.113:8000/images/map_view.png);
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
    cursor: pointer;
}

.cmmap-zoom-ruler,.cmmap-zoom-mask {
    background: url(http://61.189.20.113:8000/images/toolbar_rbg.png);
    cursor: pointer;
}

.cmmap-zoom-ruler {
    overflow: visible;
}

.cmmap-zoom-plus,.cmmap-zoom-minus {
    width: 24px;
    height: 21px;
}

.cmmap-zoom-plus {
    background-position: 0 -217px;
}

.cmmap-zoom-plus:hover {
    background-position: 0 -194px;
}

.cmmap-zoom-minus {
    background-position: -26px -224px;
}

.cmmap-zoom-minus:hover {
    background-position: -26px -195px;
}

.cmmap-zoom-plus2:hover {
    background-position: -50px -194px;
    cursor: default;
}

.cmmap-zoom-minus2:hover {
    background-position: -50px -223px;
    cursor: default;
}

.cmmap-zoom-ruler {
    width: 12px;
    height: 147px;
    position: relative;
    left: 6px;
    background-position: 0 0;
}

.cmmap-zoom-mask,.cmmap-zoom-cursor,.cmmap-zoom-labels,.cmmap-zoom-label-street,.cmmap-zoom-label-city,.cmmap-zoom-label-province,.cmmap-zoom-label-country {
    position: absolute;
}

.cmmap-zoom-mask {
    width: 12px;
    height: 106px;
    background-position: -14px 0
}

.cmmap-zoom-cursor {
    width: 24px;
    height: 20px;
    left: -6px;
    top: 106px;
    background-position: -127px -164px;
}

.cmmap-zoom-cursor:hover {
    background-position: -127px -141px;
}

.cmmap-zoom-labels {
    display: none;
}

.cmmap-zoom-label-street,.cmmap-zoom-label-city,.cmmap-zoom-label-province,.cmmap-zoom-label-country {
    width: 39px;
    height: 31px;
    left: 20px;
}

.cmmap-zoom-label-street {
    top: 0;
    background-position: -87px -140px;
}

.cmmap-zoom-label-city {
    top: 54px;
    background-position: -87px -171px;
}

.cmmap-zoom-label-province {
    top: 92px;
    background-position: -87px -203px;
}

.cmmap-zoom-label-country {
    top: 129px;
    background-position: -87px -235px;
}

.cmmap-locate {
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(http://61.189.20.113:8000/images/map_view.png);
    _background: url(http://61.189.20.113:8000/images/map_view.gif);
    background-position: -130px -185px;
    cursor: pointer;
}

.cmmap-geo {
    width: 30px;
    height: 30px;
    cursor: pointer;
    bottom: 18px;
    right: 7px;
}

.cmmap-toolbar-geo {
    position: absolute;
}

.cmmap-touch-toolbar .cmmap-zoomcontrol {
    position: absolute;
    right: 4px;
    bottom: -80px;
    z-index: 500;
    width: 35px;
    background-color: white;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px 0 #ccc;
}

.cmmap-touch-toolbar .cmmap-zoomcontrol:after {
    position: absolute;
    content: "";
    height: 1px;
    background: #ddd;
    top: 48px;
    width: 60%;
    margin: auto;
    left: 0;
    right: 0;
}

.cmmap-toolbar-geo-secc {
    background-image: url(http://61.189.20.113:8000/images/loc.png)!important;
    background-size: 22px 22px!important;
    background-position-x: 6px!important
}

.cmmap-touch-toolbar .cmmap-geo {
    background: #fff url(http://61.189.20.113:8000/images/loc_gray.png) 50% 50% no-repeat;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    right: 4px;
}

.cmmap-touch-toolbar .cmmap-locate-loading {
    background-image: url(http://61.189.20.113:8000/images/loading.gif);
}

.cmmap-zoom-touch-plus {
    margin-bottom: 5px;
}

cmmap-zoom-touch-plus,.cmmap-zoom-touch-minus {
    width: 100%;
    height: 43px;
    background-color: white;
    background-color: rgba(255,255,255,0.5);
}

.cmmap-zoom-touch-plus>div,.cmmap-zoom-touch-minus>div {
    margin: auto;
    font-size: 26px;
    line-height: 43px;
    font-family: verdana;
    text-align: center;
    color: #666;
    height: 100%;
    cursor: pointer;
}

.cmmap-zoom-touch>div {
    opacity: .2;
}


.cmmap-overviewcontrol {
    z-index: 150;
    width: 120px;
    height: 120px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cmmap-overview-main {
    width: 115px;
    height: 115px;
    position: absolute;
    left: 5px;
    top: 5px;
    overflow: hidden;
}

.cmmap-overviewcontrol,.cmmap-overview-main {
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.cmmap-overview-map {
    position: absolute;
}

.cmmap-overview-button {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(http://61.189.20.113:8000/images/mapcontrols.png);
    background-position: -40px -386px;
    cursor: pointer;
}

.cmmap-overview-win {
    width: 62px;
    height: 35px;
    background: #91a3d8;
    opacity: .25;
    border: solid 2px #44b;
    filter: alpha(opacity=25);
    position: absolute;
    top: 40px;
    left: 26px;
    cursor: move;
}


.cmmap-menu {
    position: absolute;
    z-index: 140;
}
.cmmap-menu-outer {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.cmmap-menu-outer {
    box-shadow: 0 3px 14px rgba(0,0,100,0.6);
    background: none repeat scroll 0 0 white;
    border-radius: 2px;
    padding: 1px;
    text-align: left;
    border: #c0c0c0 solid 1px;
}
ul.cmmap-menu-outer li {
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    word-break: break-all;
    padding: 0 10px;
    font-size: 12px;
    white-space: nowrap;
}

ul.cmmap-menu-outer li a {
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
    color: #000;
    padding: 5px 5px;
}

ul.cmmap-menu-outer li:hover {
    background-color: #f3f3ee;
}

.cmmap-info {
    position: absolute;
    left: 0;
    z-index: 140;
    width: 320px
}



.cmmap-info-close {
    position: absolute;
    right: 5px;
    _right: 12px;
    right: 11px;
    top: 5px;
    _top: 2px;
    _top: 2px;
    color: #c3c3c3;
    text-decoration: none;
    font: bold 16px/14px Tahoma,Verdana,sans-serif;
    width: 14px;
    height: 14px
}

.cmmap-info-outer,.cmmap-menu-outer {
    box-shadow: 0 3px 14px rgba(0,0,100,0.6);
    background: none repeat scroll 0 0 white;
    border-radius: 2px;
    padding: 1px;
    text-align: left;
    border: #c0c0c0 solid 1px
}

.cmmap-info-outer:hover,.cmmap-menu-outer:hover {
    box-shadow: 0 3px 14px rgba(0,0,0,0.75)
}

.cmmap-info-content {
    background: #fff;
    border: 1px solid #ccc;
    padding:10px 18px 10px 10px;
    _margin: 0 10px;
    _padding: 10px 0;
    line-height: 1.4;
    overflow: auto
}


.cmmap-info {
    _width: 320px
}

.cmmap-info-sharp {
    height: 23px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -1px;
    width: 30px;
    background-image: url(http://61.189.20.113:8000/images/sharp.png);
    _background-image: url(http://61.189.20.113:8000/images/sharp.gif)
}


.cmmap-ui-misc-positionpicker{
    width:0;
    height:0;
    overflow:visible;
    position:absolute;
    top:50%;
    left:50%
}
.cmmap-ui-misc-positionpicker-pin{
    position:absolute
}

.cmmap-ui-smp-ifwn-container {
    position: relative
}

.cmmap-ui-smp-ifwn-def-tr-close {
    float: right;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    margin: 3px 3px 0;
    border-radius: 2px;
    color: #666;
    cursor: pointer
}

.cmmap-ui-smp-ifwn-def-tr-close:hover {
    color: #333;
    background: #eee
}

.cmmap-ui-smp-ifwn-def-tr-close:active {
    color: #333;
    background: #ccc
}

.cmmap-ui-smp-ifwn-content-body {
    box-shadow: 0 0 .5px rgba(0,0,100,.6);
    background: 0 0 #fff;
    border-radius: 2px;
    text-align: left;
    border: silver solid 1px;
    padding: 3px
}

.cmmap-ui-smp-ifwn-combo-sharp {
    margin: -1px auto 0;
    background: url(https://webapi.amap.com/ui/1.0/ui/overlay/SimpleInfoWindow/assets/sharp.png) no-repeat -5px -16px;
    width: 18px;
    height: 9px
}

.cmmap-ui-smp-ifwn-info-title {
    font-size: 110%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 25px 2px 2px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    line-height: 150%
}

.cmmap-ui-smp-ifwn-info-content {
    padding: 4px;
    color: #666;
    min-width: 120px
}

.heatmap-canvas {
    width: 100%;
    height: 100%;
}
